%html
  %head
    %title AitClubs 
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
%body
  %div.navbar.navbar-fixed-top.navbar-inverse
    %div.navbar-inner
      %div.container
        %a.brand{:href => "/"} 
          %i.icon-flag
          AitClubs
        %ul.nav.pull-right
          - if model_signed_in?
            %li
              = link_to " Home ", root_path, class: "icon-home"
            %li
              = link_to " My Posts ", posts_path, class: "icon-list"
            %li
              = link_to " #{current_model.email}", edit_model_registration_path, class: "icon-edit"
            %li
              = link_to " Sign Out ", destroy_model_session_path,method: :delete, class: "icon-off"
          - else
            %li
              = link_to " Register ",new_model_registration_path, class: "icon-list"
            %li
              = link_to " Login ",new_model_session_path, class: "icon-user"

  %div.container.some{style:"padding-top: 5%;"}
    - if notice
      .alert.alert-success.some{align: 'center'}
        %strong= notice
    - if alert
      .alert.alert-error.some{align: 'center'}
        = alert
    = yield
  %div.navbar.navbar-fixed-bottom
    %div.navbar-inner
      %div.container
      %h6{align: "center"} 
        Designed and built by
        %a{href: "https://twitter.com/pkrawat1"}
          @pankaj
        and
        %a{href: "https://twitter.com/vjdhama"}
          @vjdhama
